<!DOCTYPE html>
<html>

<head>
  <meta name="ad.size" content="width=320,height=480">
  <%- include("parts/head", {styleTag}) %>
  <script type="text/javascript" src="https://tpc.googlesyndication.com/pagead/gadgets/html5/api/exitapi.js"> </script>
</head>

<body>
  <%- include("parts/body", {body})%>
  <script>window.addEventListener("DOMContentLoaded", start);</script>
</body>

</html>