<!DOCTYPE html>
<html>

<head>
  <%- include("parts/head", {styleTag}) %>
  <script>
    function gameStart() {console.log("start")}
    function gameClose() {console.log("close")}
    function onLoadComplete() {
      if (window.gameReady) {
        window.gameReady()
      }
    }
  </script>
</head>

<body>
  <%- include("parts/body", {body})%>
  <script>
    window.onload = function () {
      start()
    }
  </script>
</body>

</html>