<!DOCTYPE html>
<html>
<head>
<%- include("parts/head", {head}) %>
</head>
<body>
<%- include("parts/body", {body})%> 
<script>window.addEventListener("DOMContentLoaded", start);</script>
</body>

</html>
